.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #6b1f1a;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

