@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

body {
  margin: 0;
  background: #f6f1e7;
  font-family: 'Playfair Display', serif;
  color: #3b1a1a;
  
}
